<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [4]:
import pandas as pd
import numpy as np
import glob
import os

import matplotlib.pyplot as plt 
from ipywidgets import widgets
from IPython.display import display

In [5]:
os.chdir('T:/NA LMSC/Liquidity/Deposit Email/Python')

In [6]:
month = '_03_'
year = '2018'
path = year+month

In [7]:
CIO = pd.read_excel(path+"CIO.xlsx")

In [8]:
Flexcube = pd.read_excel(path+"Flexcube.xlsx")

In [9]:
ECR = pd.read_excel(path+"ECR.xlsx",skiprows=1)

In [10]:
Sweep = pd.read_excel(path+"Sweep.xlsx",skiprows=5)

In [11]:
SweepTiered = pd.read_excel(path+"Sweep_Tiered_Pricing.xlsx")

In [12]:
#Select Flexcube Account, GFCID, GFPID and create new dataframe with these values
FlexAccounts = Flexcube[["ACCOUNT","GFCID","GFPID"]]

In [13]:
#Select Sweep Account, GFCID and create new dataframe with these values
SweepAccounts = Sweep[["Account","GFCID"]]

In [14]:
#IF INTRST_TYPE = M THEN Bracketing with Top Tier
#    ELSE IF INTRST_TYPE = F THEN Bracketing
#    ELSE IF INTRST_TYPE = I THEN Tiered

In [15]:
def sweepPricing(accountNumber):
    SweepPricing = SweepTiered[["ACCT_NO","INTRST_TYPE","BINT_TYPE_COD","THLD_AMT","OFFSET_RT"]]
    SweepPricing = SweepPricing.fillna("999,999,999")
    return SweepPricing[(SweepPricing.ACCT_NO == accountNumber)];

def interestConditions(accountNumber):
    CIO_StructureAccount = pd.pivot_table(CIO,
                          index=["XBNP_STRC_ID","ACCT_NO","INTRST_TIER_NO"], 
                                     values = ["THLD_AMT"])
    CIO_StructureAccount.reset_index(inplace=True)
    lookup = CIO_StructureAccount.loc[CIO_StructureAccount['ACCT_NO'] == accountNumber, 'XBNP_STRC_ID'].iloc[0]
    CIO_StructureAccountTiers = CIO_StructureAccount[["XBNP_STRC_ID","INTRST_TIER_NO", "THLD_AMT"]]
    CIO_StructureAccountTiers = CIO_StructureAccountTiers.dropna()
    return CIO_StructureAccountTiers.loc[CIO_StructureAccountTiers['XBNP_STRC_ID'] == lookup];

def interestConditionsCIOacct (accountNumber):
    CIOPricing = CIO[["ACCT_NO","INTRST_TYPE","BINT_TYPE_COD","THLD_AMT","OFFSET_RT"]]
    return CIOPricing.loc[(CIOPricing.THLD_AMT.isnull())& (CIOPricing['ACCT_NO'] == 30916845)];

def interestConditionsIBDDA(accountNumber):
    FlexPricing = Flexcube[["ACCOUNT","GL_CDE","MMDA_BASE_RATE","MMDA_RATE_SPREAD" ]]
    return FlexPricing.loc[(FlexPricing.MMDA_BASE_RATE.notnull())& (FlexPricing['ACCOUNT'] == accountNumber)];

In [16]:
interestConditions(30916845)

      XBNP_STRC_ID  INTRST_TIER_NO      THLD_AMT
7628         20204               1  1.000000e+12
7629         20204               2  1.500000e+09

In [17]:
interestConditionsCIOacct(30916845)

       ACCT_NO INTRST_TYPE  BINT_TYPE_COD  THLD_AMT  OFFSET_RT
9186  30916845           F  FED EFFECTIVE       NaN      -0.01
9187  30916845           F  FED EFFECTIVE       NaN      -0.05

In [18]:
sweepPricing(36893779)

       ACCT_NO INTRST_TYPE BINT_TYPE_COD     THLD_AMT  OFFSET_RT
2123  36893779           F       USDZERO        1e+07        0.4
2124  36893779           F       FI_XSWP  999,999,999        0.0

In [19]:
interestConditionsIBDDA(25179)

    ACCOUNT  GL_CDE MMDA_BASE_RATE  MMDA_RATE_SPREAD
17    25179     105          IBDDA             -0.06

In [1]:
from tkinter import *

In [51]:
root = Tk() #blank window
#label = Label(root,text="Account Interest Conditions")

topFrame = Frame(root)
topFrame.pack()
bottomFrame = Frame(root)
bottomFrame.pack(side=BOTTOM)

button1 = Button(topFrame, text="Button 1", fg="red")
button2 = Button(topFrame, text="Button 2", fg="blue")
button3 = Button(topFrame, text="Button 3", fg="green")
button4 = Button(bottomFrame, text="Button 4", fg="purple")

button1.pack(side=LEFT)
button2.pack(side=LEFT)
button3.pack(side=LEFT)
button4.pack(side=BOTTOM)



root.mainloop()

In [50]:
root = Tk() #blank window
one = Label(root,text="Account Interest Conditions",bg="red", fg="white")
one.pack()
two = Label(root, text="Sweep", bg="green", fg="white")
two.pack(fill=X)
three = Label(root, text="CIO", bg="blue", fg="white")
three.pack(side=LEFT, fill=Y)


root.mainloop()

In [57]:
root = Tk() #blank window
label_1 = Label(root,text="Name")
label_2 = Label(root,text="Password")
entry_1 = Entry(root)
entry_2 = Entry(root)

label_1.grid(row=0, column=0, sticky=E)
label_2.grid(row=1, column=0, sticky=E)

entry_1.grid(row=0, column=1)
entry_2.grid(row=1, column=1)

c = Checkbutton(root,text="Keep me logged in")
c.grid(columnspan=2)

root.mainloop()

In [58]:
root = Tk() #blank window


def printName():
    print("My name is Jamil")
    
button1= Button(root, text="Print my name",command=printName)
button1.pack()
root.mainloop()

My name is Jamil
My name is Jamil
My name is Jamil
My name is Jamil

In [60]:
root = Tk() #blank window


def printName(event):
    print("My name is Jamil")
    
button1= Button(root, text="Print my name")
button1.bind("<Button-1>", printName)
button1.pack()
root.mainloop()

My name is Jamil
My name is Jamil
My name is Jamil
My name is Jamil
My name is Jamil

In [2]:
class JamilsButtons:
    
    def __init__(self, master):
        frame = Frame(master)
        frame.pack()
        
        self.printButton = Button(frame,text="Print Message", command=self.printMessage)
        self.printButton.pack(side=LEFT)
        
        self.quitButton = Button(frame,text="Quit", command =master.destroy)
        self.quitButton.pack(side=LEFT)
        
    def printMessage(self):
        print("This worked")
        


root = Tk()
b = JamilsButtons(root)
root.mainloop()

In [3]:
import tkinter as tk
from tkinter import messagebox

class App(tk.Frame):

    def __init__(self, master):
        self.master = master

        lbl1 = tk.Label(self.master, text = "Enter 2 numbers to be added \ntogether and click submit")
        lbl1.grid(row = 0, column = 0, columnspan = 3)

        self.entry1 = tk.Entry(self.master, width = 5)
        self.entry1.grid(row = 1, column = 0)

        self.lbl2 = tk.Label(self.master, text = "+")
        self.lbl2.grid(row = 1, column = 1)

        self.entry2 = tk.Entry(self.master, width = 5)
        self.entry2.grid(row = 1, column = 2)

        btn1 = tk.Button(self.master, text = "Submit", command = self.add_numbers)
        btn1.grid(row = 2, column = 1)

        self.lbl3 = tk.Label(self.master, text = "Sum = ")
        self.lbl3.grid(row = 3, column = 1)

        self.entry3 = tk.Entry(self.master, width = 10)
        self.entry3.grid(row = 4, column = 1)

        self.text1 = tk.Text(self.master, height = 1, width = 10)
        self.text1.grid(row = 5, column = 1)

    def add_numbers(self):

        x = self.entry1.get()
        y = self.entry2.get()

        if x != "" and y != "":
            sumxy = int(x) + int(y)

            self.lbl3.config(text = "Sum = {}".format(sumxy))

            self.entry3.delete(0, "end")
            self.entry3.insert(0, sumxy)

            self.text1.delete(1.0, "end")
            self.text1.insert(1.0, sumxy)

            messagebox.showinfo("Sum of {} and {}".format(x,y), 
                                "Sum of {} and {} = {}".format(x, y, sumxy))


if __name__ == "__main__":

    root = tk.Tk()
    myapp = App(root)
    root.mainloop()